<%inherit file="layout.html"/>


<%!
  from urllib.parse import unquote_plus
%>


<%namespace file="/widgets/fixed-pane.html" import="fixed_pane" />


<h2>${error['title']}</h2>
<h3>Select a location</h3>


<ul class="result_list multi-list">
  % for code in result:
    <li class="${loop.cycle('a', 'b')}${' no-bottom-margin' if loop.last else ''}">
      ${self.geocode(code, loop.index)}
    </li>
  % endfor
</ul>


<%def name="geocode(geocode, i)">
  <%
    ll = geocode.lat_long
    x, y = ll.x, ll.y
    link_addr = geocode.urlStr()
    html_addr = h.literal(str(geocode.address).replace('\n', '<br />'))
    field_addr = unquote_plus(link_addr)
  %>
  <%call expr="fixed_pane(title_bar_style={'display': 'none'}, )">
    <%def name="title()">
      Location
      <span class="small">
        <a class="show-on-map-link"
           href="#show-location-on-map"
           title="Show this location on the map"
           onclick="byCycle.UI.map.setCenter({x: ${x}, y: ${y}}); return false;"
           >show on map</a>
      </span>
    </%def>
    <div class="address">${html_addr}</div>
    <div class="multi-select-links">
      <a class="show-on-map-link"
         href="#show-location-on-map"
         title="Show this location on the map"
         onclick="byCycle.UI.map.setCenter({x: ${x}, y: ${y}}); return false;"
         >Show on map</a>
      |
      <a class="select-geocode-link"
         href="${request.route_url('find_geocode', id=region.slug, renderer=self.urlvars.get('renderer', ''), q=field_addr)}#select-this-location"
         title="Select this location"
         onclick="byCycle.UI.selectGeocode(this, ${i}); return false;"
         >Select</a>
    </div>
    <div class="set_as_s_or_e" style="display: none;">
      Set as
      <a class="set-as-start"
         href="#set-as-start"
         title="Use this as the starting point of a route"
         onclick='byCycle.UI.setAsStart("${field_addr}"); return false;'
         ><i>start</i></a> or
      <a class="set-as-end"
         href="#set-as-end"
         title="Use this as the end point of a route"
         onclick='byCycle.UI.setAsEnd("${field_addr}"); return false;'
         ><i>end</i></a>
      of route
    </div>
  </%call>
</%def>
