[buildout]
parts = dev
newest = false
develop = .
          ../bycycle.core
          ../dijkstar
          ../tangled
          ../tangled.mako
          ../tangled.sqlalchemy
          ../tangled.web

[dev]
recipe = zc.recipe.egg
eggs = bycycle.tripplanner[dev,test]
dependent-scripts = true
interpreter = python
