## -*- coding: UTF-8 -*-
<!-- Center Marker -->
<div id="center_marker" style="display: none;">
  <div id="center-marker-contents" class="info_win">
    <ul>
      <li>
        <a id="cm-find-at-center-link"
           href="#identify-intersection-at-center"
           title="Identify intersection at center of map (red dot)"
           >Identify closest intersection</a>
      </li>

      <!--<li>-->
        <!--<a href="#identify-street-at-center"-->
           <!--title="Identify street at center of map (red dot)"-->
           <!--onclick="byCycle.UI.identifyStreet(byCycle.UI.map.getCenter()); return false;"-->
           <!-->Identify closest street</a>-->
      <!--</li>-->

      <li>
        Set as
        <a id="cm-set-as-start" href="#set-as-start"
           title="Set as start of route">start</a> or
        <a id="cm-set-as-end" href="#set-as-end"
           title="Set as end of route">end</a>
        of route
      </li>
    </ul>
  </div>
</div>
<!-- /Center Marker -->
