## -*- coding: UTF-8 -*-
<form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
    <div>
        <input type="image" alt="Make a donation via PayPal - it's fast, free and secure!" name="submit" src="https://www.paypal.com/en_US/i/btn/x-click-but04.gif" style="border: none;"/>
        <input type="hidden" value="_xclick" name="cmd" />
        <input type="hidden" value="donate@bycycle.org" name="business" />
        <input type="hidden" value="Your donation to byCycle.org helps us keep the trip planner up and running and make improvements." name="item_name" />
        <input type="hidden" value="2" name="no_shipping" />
        <input type="hidden" value="1" name="no_note" />
        <input type="hidden" value="USD" name="currency_code" />
        <input type="hidden" value="0" name="tax" />
        <input type="hidden" value="US" name="lc" />
        <input type="hidden" value="PP-DonationsBF" name="bn" />
    </div>
</form>
