<h2 class="no-top-margin">News</h2>

<small>March 10th, 2009</small>

<p>
  <big><b>The <a href="http://bta4bikes.org/" title="Bicycle Transportation Alliance of Oregon">BTA</a></b></big> held their annual <a href="http://bta4bikes.org/alice/" title="Celebrate Your Bike Heroes!">Alice Awards</a> over the weekend. Check out the nominees <a href="http://bta4bikes.org/alice/nominees.php">here</a> and the winners <a href="http://bta4bikes.org/alice/Winners.html">here</a> and, if you're so inclined, consider <a href="http://bta4bikes.org/support/join.php" title="Join the BTA">joining the BTA</a> in their efforts to promote safe and fun cycyling in Oregon.
</p>

<p>
  <big><b>Inspired</b></big> by this event, we will be making some changes to
  the site over the next couple of weeks. For one thing, we will be revamping
  <a href="http://info.bycycle.org/" title="byCycle Info and Blog">our blog</a>.
  Keep an eye open for other changes.
</p>
