<%inherit file="/layout.html"/>


<%def name="input_container()">
  <%call expr="parent.input_container()">

    <div id="region-search">
      <form method="get" action="${request.resource_url('regions')}" id="query_form">
        % for p in request.params:
          % if p != 'q':
            ${h.hidden(p, value=request.params[p])}
          %endif
        % endfor

      <div>
        Select a region from the list or click one of the <b>X</b>s on the map:
      </div>

      <div style="margin-bottom: 5px;">
        <select id="region" name="region">
          <option value="">- Select a region -</option>
          % for r in regions:
            <option value="${r.slug}">${r.title}</option>
          % endfor
        </select>
        <input type="submit" value="Go to region" title="Go to the selected region">
      </div>

      <div>
        Optionally, enter something to search for:
      </div>

      <div>
        <input type="text" name="q" id="q" value="${q}" title="Enter an address or route">
      </div>

      <div class="input_label">
        Address (<i>NE 6th and Irving</i>) or route (<i>301 W Burnside to SE 3rd &amp; Main</i>)
      </div>

     </form>
    </div>

  </%call>
</%def>
