[uwsgi]
master = true
plugins = python3

uid = {{ site_user }}
gid = www-data

workers = 2
enable-threads = true
threads = 4

logto2 = /sites/{{ hostname }}/uwsgi.log

chdir = /sites/{{ hostname }}/current
virtualenv = /sites/{{ hostname }}/current/venv
mount = /api=/sites/{{ hostname }}/current/application.wsgi
manage-script-name = true

single-interpreter = true

# Clean up socket and pid files on exit
vacuum = true

# Kill requests that take too long
harakiri = 30

# Reload when memory usage gets too high
reload-on-rss = 256

# Ensure POST bodies are read
post-buffering = 1

die-on-term = true
