[Unit]
Description=Dijkstar graph server
Documentation=https://github.com/wylee/Dijkstar

[Service]
Type=simple
User=dijkstar
PIDFile=/run/dijkstar.pid
ExecStart=/services/dijkstar/bin/dijkstar \
          serve \
          --graph-file /var/bycycle/graph.marshal \
          --cost-func dijkstar_cost:cost_func \
          --root-path /graph
ExecStop=-/bin/kill -TERM $(cat /run/dijkstar.pid)

[Install]
WantedBy=multi-user.target
