<%inherit file="/layout.html"/>

<%namespace file="/geocodes/geocode.html" import="show_geocode" />

<%!
  from bycycle.core.model.geocode import Geocode
%>

<h3>Select a location</h3>

## A query to the route service may find multiple matching matches for
## any or all of the addresses it was passed as input. In this case, the
## `result` list will contain a single `Geocode` for each input address
## that did *not* have multiple matches and a list of `Geocode`s for
## each input address that *did*. The following makes a "fixed pane" for
## the addresses that had multiple matches. The first fixed pane is
## visible while the others are initially hidden.

<% first = True %>
% for r in result:
  % if not isinstance(r, Geocode):
    <div class="route-choice" ${h.hide_element_if(not first)}>
      % for g in r:
        ${show_geocode(g, hide_links=True)}
      % endfor
    </div>
    <% first = False %>
  % endif
% endfor
