## -*- coding: UTF-8 -*-
<%inherit file="layout.html"/>

<%! from urllib import unquote_plus %>

<%namespace file="/widgets/fixed-pane.html" import="fixed_pane" />

<%
    route = c.route
    distance = route.distance
    total_mi = distance['miles']
    total_km = distance['kilometers']
    start = route.start
    s_addr = start.address
    end = route.end
    e_addr = end.address
    directions = route.directions
    linestring = route.linestring
    centroid = linestring.centroid
    s_addr = h.literal(str(s_addr).replace('\n', '<br/>'))
    e_addr = h.literal(str(e_addr).replace('\n', '<br/>'))
    s_url_str = start.urlStr()
    e_url_str = end.urlStr()
    set_center_onclick = 'byCycle.UI.map.setCenter({x: %s, y: %s}); return false;'
    map_blowup_href = "#show-map-blowup"
    map_blowup_onclick = "byCycle.UI.map.showMapBlowup({x: %s, y: %s}); return false;"
    tab = h.literal('&nbsp;' * 4)
    row_class = h.cycle('ab')
%>

<%call expr="fixed_pane()">
    <%def name="title()">
        Route
        <span class="small">
          <a class="show-on-map-link"
             href="#show-route-on-map"
             title="Show this route on the map"
             onclick="${set_center_onclick % (centroid.x, centroid.y)}"
             >show on map</a>
        </span>
    </%def>
    <div class="start">
        <a href="${map_blowup_href}"
           title="Start of route"
           onclick="${map_blowup_onclick % (start.lat_long.x, start.lat_long.y)}"
           >${s_addr}</a>
    </div>
    <div class="end">
        <a href="${map_blowup_href}"
           title="End of route"
           onclick="${map_blowup_onclick % (end.lat_long.x, end.lat_long.y)};"
           >${e_addr}</a>
    </div>
    <div class="total-distance">
        ${'%.2f' % total_mi} miles / ${'%.2f' % total_km} km
    </div>
    <div class="noprint reverse-directions">
        <a href="/regions/${c.region.slug}/routes/find?q=${e_url_str}+to+${s_url_str}"
           onclick="byCycle.UI.reverseDirections('${unquote_plus(e_url_str)}', '${unquote_plus(s_url_str)}'); return false;"
           >Reverse Directions</a>
    </div>
    <div class="directions">
        % for i, d in enumerate(directions):
            <%
                turn = d['turn']
                street = d['street']
                point = linestring.coords[d['linestring_index']]
                if turn == 'straight':
                    turn = 'cont.'
                    street = street[1]
                if street == 'None':
                    street = '[No name]'
                street = ' - '.join([s.strip() for s in street.split('-') if s])
                if i == 0:
                    street = street #'%s toward %s' % (street, d['toward'])
                ls_index = d['linestring_index']
                distance = d['distance']
                mi = '%.2f' % distance['miles']
                km = '%.2f' % distance['kilometers']
            %>
            <div class="direction ${row_class.next()}">
                <span class="count">
                    <a href="${map_blowup_href}"
                       onclick="${map_blowup_onclick % point}"
                       >${i + 1}</a>
                </span>
                -
                <span class="turn">${turn.title()}</span>
                -
                <span class="direction">${street}</span>
                -
                <span class="segment_distance">${mi} mi</span>
                % if d['jogs']:
                    <div class="jogs">
                        ${tab} Jogs...
                        % for j in d['jogs']:
                            <br/>${tab}${tab}&middot; <i>${j['turn']}</i> at ${j['street']}
                        % endfor
                    </div>
                % endif
            </div>
        % endfor
        <div class="direction ${row_class.next()}">
            <span class="count">
                <a href="${map_blowup_href}"
                   onclick="${map_blowup_onclick % (end.lat_long.x, end.lat_long.y)}"
                   >${i + 2}</a>
            </span>
            -
            <span class="turn">End</span>
            -
            <span class="direction">${end.address.street_name}</span>
        </div>
    </div>
</%call>
