% if not wrap:
  ${self.body()}
% else:
<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wyatt Baldwin, wyatt@byCycle.org">
    <meta name="description" content="byCycle.org Bicycle Trip Planner -- A web-based, interactive, bicycle trip planner (route finder) for the Portland, Oregon metro region.">

    <title>byCycle.org - Bicycle Trip Planner</title>

    <link rel="shortcut icon" href="${request.static_path('/static/favicon.ico')}">

    % if settings['assets.css.use_built']:
      <link rel="stylesheet" type="text/css" href="${request.static_path('/static/css/app.min.css')}">
    % else:
      <link rel="stylesheet" type="text/css" href="${request.static_path('/static/css/base.css')}">
    % endif
  </head>


  <body>
    <div class="container-fluid">
      <div id="top-row" class="row">
        <div class="col-sm-1">
          <h1 id="logo">
            <a href="${request.application_url}" title="byCycle.org - Get there by cycle!">byCycle</a>
          </h1>
        </div>

        <div class="col-sm-1">
          <ul class="nav">
            <li id="input-dropdown" class="dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="selected-input" class="glyphicon glyphicon-${'play' if service == 'route' else 'search'}"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li id="search-map-tab">
                  <a href="${request.application_url}"
                     data-target="#search-map"
                     data-toggle="tab"
                     tabindex="-1" title="Search"
                     ><span class="glyphicon glyphicon-search"></span> Search</a>
                </li>
                <li id="get-directions-tab">
                  <a href="${request.resource_url('find_route')}"
                     data-target="#get-directions" data-toggle="tab"
                     tabindex="-1" title="Get directions"
                     ><span class="glyphicon glyphicon-play"></span> Get Directions</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="col-sm-8 tab-content">
          <div id="search-map" class="tab-pane ${'active' if service != 'route' else ''}">
            <form id="query-form" method="get" action="${request.resource_url('find')}">
              <input type="hidden" id="q-id" name="q_id" value="${q_id}">
              <input type="hidden" id="q-point" name="q_point" value="${q_point}">
              <div class="input-group">
                <input id="q" name="q" value="${q}" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"
                          title="Find an address or get directions">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>

          <div id="get-directions" class="tab-pane ${'active' if service == 'route' else ''}">
            <form id="route-form" method="get" action="${request.resource_url('find_route')}">
              <input type="hidden" id="s-id" name="s_id" value="${s_id}">
              <input type="hidden" id="s-point" name="s_point" value="${s_point}">
              <input type="hidden" id="e-id" name="e_id" value="${e_id}">
              <input type="hidden" id="e-point" name="e_point" value="${e_point}">

              <div class="row">
                <div class="col-xs-2">
                  <label for="pref" class="sr-only">Select route type</label>
                  <select id="pref" name="pref" class="form-control" title="Select route type">
                    <option value="default">Normal</option>
                    <option value="safer">Safer</option>
                  </select>
                </div>

                <div class="col-xs-5">
                  <div class="input-group">
                    <input id="s" name="s" value="${s}" class="form-control"
                           placeholder="Start address">
                    <span class="input-group-addon">
                      <a id="swap-s-and-e"
                         href="#swap-start-and-end"
                         title="Swap start and end addresses"
                         onclick="return false;"
                          ><span class="glyphicon glyphicon-resize-horizontal"></span></a>
                    </span>
                  </div>
                </div>

                <div class="col-xs-5">
                  <div class="input-group">
                    <input id="e" name="e" value="${e}" class="form-control"
                           placeholder="End address">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit"
                              title="Get directions">
                        <span class="glyphicon glyphicon-play"></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-sm-2">
          <a href="${request.application_url}"
             id="clear-results" class="btn btn-default"
             title="Clear results and map"
             ><span class="glyphicon glyphicon-remove"></span></a>

          <a href=""
             id="bookmark" class="btn btn-default"
             title="Link to last result"
              ><span class="glyphicon glyphicon-link"></span></a>
        </div>
      </div>

      <div id="main-row" class="row">
        <div id="col-a" class="col-xs-4">
          <div id="status-container">
            <img id="spinner" src="${request.static_path('/static/img/spinner.gif')}" width="16" height="16">
            <div id="status" class="alert alert-info">Loading...</div>
          </div>

          <div id="results">
            % if result or error:
              ${self.body()}
            % else:
              <%include file="/news.html"/>
            % endif
          </div>

          <div class="disclaimer">
            <p>
              <b>Disclaimer</b>: As you are riding, please keep in mind that you
              don't <i>have</i> to follow the suggested route. <i>It may not be
              safe at any given point.</i> If you see what looks like an unsafe or
              undesirable stretch in the suggested route, you can decide to walk,
              ride on the sidewalk, or go a different way.
            </p>

            <p>
              Users should independently verify all information presented here.
              This service is provided <b>AS IS</b> with <b>NO WARRANTY</b> of any
              kind. <em>Please be careful out there.</em>
            </p>

            <p>
              © 2004-2007,2012,2014 byCycle.org
            </p>
          </div>
        </div>

        <div id="col-b" class="col-xs-8">
          <div id="no-js-msg">
            JavaScript must be enabled to display the map and enable other
            features.
          </div>

          <div id="map-pane"></div>

          <div id="map-context-menu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" tabindex="-1" action="setCenter">Center map</a></li>
              <li><a href="#" tabindex="-1" action="zoomIn">Zoom in</a></li>
              <li><a href="#" tabindex="-1" action="zoomToStreetLevel">Zoom to street level</a></li>
              <li><a href="#" tabindex="-1" action="zoomOut">Zoom out</a></li>
              <li class="divider"></li>
              <li><a href="#" tabindex="-1" action="identify">What's here?</a></li>
              <li class="divider"></li>
              <li><a href="#" tabindex="-1" action="getDirectionsFrom">Get directions from</a></li>
              <li><a href="#" tabindex="-1" action="getDirectionsTo">Get directions to</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      //<![CDATA[
      var el;
      el = document.getElementById('no-js-msg');
      el.parentNode.removeChild(el);
      el = document.getElementById('status-container');
      el.style.display = 'block';
      var byCycle = {
        debug: ${str(debug).lower()},
        httpStatus: ${request.response.status_int},
        prefix: '${request.script_name or "/"}',
        staticPrefix: '${request.static_path("/static/")}',
        jsonData: ${json or 'null' | n},
        uiConfig: {
          regionId: 'portlandor',
          service: '${service}',
          q: '${q}'
        },
        mapConfig: ${settings['map.json'] | n}
      };
      //]]>
    </script>

    % if settings['assets.js.use_built']:
      <script src="${request.static_path('/static/js/app.min.js')}"></script>
    % else:
      <script data-main="${request.static_path('/static/js/main.js')}"
              src="${request.static_path('/static/js/vendor/require.js')}"></script>
    % endif

    % if not app.debug:
      <%include file="_google_analytics.html"/>
    % endif
  </body>
</html>

% endif ## if not wrap


<%def name="show_error()">
  <div class="errors">
    <div class="alert alert-danger">
      ${error['explanation']}
    </div>
    <% detail = error.get('detail') %>
    % if detail:
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">What This Means</div>
        </div>
        <div class="panel-body">
          <p>${h.literal(detail.strip().replace('\n', '</p><p>'))}</p>
        </div>
      </div>
    % endif
  </div>
</%def>
