<h2 class="no-top-margin">News</h2>

<p>
  <small><em>December 1, 2012</em></small>
</p>

<p> byCycle is back!</p>

<p>
  This is classic byCycle from 2007--almost nothing has been updated, the
  underlying data is a bit out of date, and the user interface is a bit clunky.
  I'm considering whether it's worth fixing any of this stuff...  I guess it
  will depend on whether there's enough interest in the site.
</p>

<p>
  As usual, any feedback is appreciated.
  <a href="${req.registry.settings['contact_url']}"
     >Add a comment on the contact page</a>
  or send email to
  <a href="mailto:contact@bycycle.org">contact@bycycle.org</a>.

  And if you want to get involved (there's plenty to do!),
  <a href="${req.registry.settings['project_url']}"
     >the source code is now on Bitbucket</a>.
</p>

<p>
  <small><em>July 6, 2011</em></small>
</p>

<p>
  Site offline due to hardware failure.
</p>

<p>
  <small><em>June 12, 2010</em></small>
</p>

<p>
  The bike map data for Portland was updated and should now more closely match Metro's latest <a href="http://www.oregonmetro.gov/index.cfm/go/by.web/id=218">Bike There! map</a>.
</p>

<p>
  <small><em>January 18, 2010</em></small>
</p>

<p>
  This site is unmaintained. The last significant changes were made in <strong>May of 2007</strong> (although several data updates for the Portland region have been made since then).
</p>

<p>
  <a href="${req.registry.settings['project_url']}">The code</a> is open source (GPLv3).
</p>
