## -*- coding: UTF-8 -*-
<%inherit file="../layout.html" />

${next.body()}

<%def name="route_pref()"></%def>

<%def name="controls()">
  <% visible = c.service != 'routes' and c.http_status == 200 %>
  <%call expr="self.make_panel('locations', title='Search', visible=visible)">
      <form id="query_form" method="get" action="/regions/portlandor/services/find">
        <div>
          <div class="input_label">
            <label for="q">
              Enter address, intersection, or route
            </label>
          </div>

          ${h.text(
            'q', id='q', value='', title='Enter an address or route')}

          <div class="query_button_container">
            ${h.submit(
              'commit', 'Search',
              id='query_form_button',
              title='Click to search the map')}
          </div>
        </div>
      </form>

      % if c.service == 'geocodes':
        % if c.http_status == 200:
          ${next.body()}
        % endif
        ${self.json()}
      % endif
    </div>
  </%call>

  <% visible = c.service == 'routes' and c.http_status == 200 %>
  <%call expr="self.make_panel('locations', title='Find Route', visible=visible)">
    <form id="route_form" method="get" action="/regions/portlandor/routes/find">
      <div>
        <div class="input_label">
          <label for="s">
            Enter start and end addresses
          </label>
        </div>

        <table>
          <tbody>
            <tr>
              <td>
                ${h.text(
                  's', id='s', value='', title='Enter start address')}
              </td>
              <td rowspan="2">
                <a id="swap_s_and_e" href="#swap-start-and-end" title="Swap start and end addresses"><img src="${h.url_for('/images/swap_s_and_e.gif')}" width="10" height="30" /></a>
              </td>
            </tr>
            <tr>
              <td>
                ${h.text(
                  'e', id='e', value='', title='Enter end address')}
              </td>
            </tr>
          </tbody>
        </table>

        <div class="query_button_container">
          ${h.submit(
            'commit', 'Find Route',
            id='route_form_button',
            title='Click to find a route')}
        </div>
      </div>
    </form>

    % if c.service == 'routes':
      % if c.http_status == 200:
        ${next.body()}
      % endif
      ${self.json()}
    % endif
  </%call>

  ${parent.controls()}
</%def>
