@import url("bootstrap.css");
@import url("ol.css");


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

a {
  color: #3987c9;
}
a:hover {
  color: orange;
}

#container {
  padding: 0 15px;
}

#top-row {
  padding: 15px 0;
  padding-bottom: 0;
}

#logo a {
  display: block;
  color: black;
  text-decoration: none;
}


/* Input */
.nav-tabs {
  margin-bottom: 10px;
}
#q {
  width: 450px;
}
#s, #e {
  width: 201px;
}
#swap-s-and-e a {
  text-decoration: none;
}
#pref {
  width: 125px;
}


/* Status & Links */

#bar {
  padding: 5px 0;
  color: #eee;
  background: #444;
  font-weight: bold;
}
#bar a {
  color: #eef;
  text-decoration: none;
}
#bar a:hover {
  color: orange;
}


/* Loading */

#spinner {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  margin: 4px;
}

#loading-status {
  color: red;
}


/* Results */

#col-a {
  background-color: #f8f8f8;
  overflow: auto;
}
#old-news {
  display: none;
}
.disclaimer {
  font-size: 85%;
  font-style: italic;
  color: #666;
}


/* Map */

#col-b {
  padding: 0;
}
#map-context-menu {
  position: absolute;
  display: none;
}
#map-context-menu ul {
  display: block;
}
#map-pane {
  background-color: #3987c9;
  height: 100%;
}
#map-pane .popover {
  width: 200px;
}
.marker {
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #3987c9;
}
.marker span {
  font-size: 16px;
}
.start-marker {
  background-color: green;
}
.end-marker {
  background-color: red;
}
.info_win {
  width: 250px;
}


/* Route Summary & Directions */
div.start,
div.end,
div.total-distance,
div.reverse-directions,
div.directions div {
  border-bottom: 1px solid #99b3cc;
  padding: 2px;
}
div.start a {
  color: green;
}
div.end a {
  color: red;
}
div.directions div.direction div.jogs {
  border-bottom: none;
}
div.a { background: #ddd; }
div.b { background: #fff; }
span.count { text-align: right; }
span.turn { font-weight: bold; }
span.segment_distance { font-style: italic; }
