/* Fixed Pane */
.fixed-pane {
}

.fixed-pane .title-bar {
  background: #d0d7de;
  border: 1px solid #99b3cc;
  padding: 2px;
}

.fixed-pane .title-bar .title {
  float: left;
  color: #222;
  font-weight: bold;
}

.fixed-pane .title-bar .control-bar {
  float: right;
}
.fixed-pane .title-bar .control-bar a.button:link {
  margin-left: 2px;
  color: #222;
  font-weight: bold;
  text-decoration: none;
}
.fixed-pane .title-bar .control-bar a.button:hover {
  color: orange;
}

.fixed-pane .content-pane {
  padding: 5px;
  background: white;
  border: 1px solid #99b3cc;
  border-top: none;
}
