html, body, table, td, tr, form {
  padding: 0;
  margin: 0;
}
html, body {
  overflow: hidden;
  height: 100%;
}
body { font-size: 80%; }
body, td {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

td { vertical-align: top; }

img { border: 0; }

a { color: #46d; }
a:hover { color: orange; }


.clear { clear: both; }
.no-top-margin { margin-top: 0; }
.no-bottom-margin { margin-bottom: 0; }
.small { font-size: 75%; }
.attention, .attention a {
  color: red;
  font-weight: bold;
}
.attention a:hover {
  color: orange;
}


/* Top level */
#meta, #footer {
  padding: 2px;
  font-size: 11px;
  background: #ddd;
}
#meta-left {
  float: left;
}
#meta-right {
  float: right;
}
#wrapper {
  position: relative;
  min-width: 600px;
}
#masthead, #input_container, #bar {
  padding: 5px;
}
#input_container, #bar, #content {
  margin-right: 121px;
}
#ads {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100%;
  background: white;
  overflow: hidden;
  border-left: 1px solid #99b3cc;
}
.ad.banner, .ad.banner a, .ad.banner a img {
  width: 120px;
  height: 90px;
}
.ad.banner a {
  display: block;
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}


/* Masthead */
#masthead {
  float: left;
  width: 150px;
  text-align: right;
}
#masthead h1, #masthead h2, #masthead h3, #masthead h4 {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-weight: normal;
}
#masthead h1 { font-size: 128%; }
#masthead h2 { font-size: 96%; }
#masthead h3 { font-size: 80%; }
#masthead h4 { font-size: 72%; }
#masthead a {
  text-decoration: none;
  color: #000;
}
#masthead a:hover {
  color: orange;
}


/* Content Column Layout */
#col-a {
  float: left;
  width: 30%;
}
#col-b {
  float: right;
  width: 69%;
  border-left: 1px solid #99b3cc;
}


/* Input */
#input_container {
  margin-left: 155px;
}
#region-search {
  border: 1px solid #99b3cc;
  padding: 5px;
}

/* Input Controls */
#q {
  width: 368px;
}
#s, #e {
  width: 170px;
}
#swap_s_and_e a {
  text-decoration: none;
}
/* Input Labels */
.input_label {
  margin-top: 5px;
  font-size: 85%;
  color: #333;
}


/* Status & Links */
#bar {
  position: relative;
  background: #d1ffba;
  border: solid #a7cc95;
  border-width: 1px 0;
}
#status {
  float: left;
}
/* Loading */
#loading-status {
  color: red;
  background: white;
  font-weight: bold;
  padding: 1px 2px;
  border: 1px solid red;
}
#links {
  float: right;
  text-align: right;
}


/* Content Column A -- Results and Messages */
#spinner {
  position: absolute;
  left: -1px;
  bottom: -22px;
}
.spinner {
  float: left;
  width: 16px;
  height: 16px;
  background: white;
  margin-right: 2px;
  padding: 2px;
  border: 1px solid #a7cc95;
}

/* Results */
.display-pane h2 {
  margin-top: 0;
}
#message_pane, #result_pane {
  padding: 5px;
  overflow: auto;
}
#result_pane .tab-contents {
  padding-bottom: 0;
}
.result_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.result_list li, .fragment div.fixed-pane {
  margin-bottom: 5px;
}
.multi-list {

}
.multi-list li {
  border-top: 1px solid #99b3cc;
}
#route_list .fixed-pane .content-pane {
  padding: 0;
  border-bottom: none;
}
.disclaimer {
  font-size: 85%;
  font-style: italic;
  color: #666;
}

/* Errors */
.errors .title_bar, .errors .title_bar td {
  background: #fd766a;
}
.errors p.error {
  padding: 5px;
  border: 1px solid #fd766a;
}


/* Column B -- Map, map controls, and any other map-related stuff */
#map-controls {
  border-bottom: 1px solid #99b3cc;
  padding: 5px;
}
/* The map object is inserted here */
#map_pane {
  background: #d0d7de;
}
#map-buttons {
  -moz-user-select: none;
  color: black;
  font-family: Arial,sans-serif;
  font-size: small;
  height: 19px;
  position: absolute;
  right: 7px;
  top: 33px;
}
#map-buttons a {
  color: black;
  text-decoration: none;
}
.map-button {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  text-align: center;
}
.map-button-inner {
  padding: 0 1em;
  border: 1px solid;
  border-color: white rgb(176, 176, 176) rgb(176, 176, 176) white;
}
#legend-map-button {
  text-align: center;
  cursor: pointer;
}
.info_win {
  width: 250px;
}


/* Route Summary & Directions */
div.start,
div.end,
div.total-distance,
div.reverse-directions,
div.directions div {
  border-bottom: 1px solid #99b3cc;
  padding: 2px;
}
div.start a {
  color: green;
}
div.end a {
  color: red;
}
div.directions div.direction div.jogs {
  border-bottom: none;
}
div.a { background: #ddd; }
div.b { background: #fff; }
span.count { text-align: right; }
span.turn { font-weight: bold; }
span.segment_distance { font-style: italic; }

